src/main/resources/nifi-flows/Nifi_and_Schema_Registry_Integration_End_to_End_Example-Single-Source-Topic.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
  <name>Nifi_and_Schema_Registry_Integration_End_to_End_Example-Single-Source-Topic.xml</name>
  <snippet>
    <controllerServices>
      <id>99061f9d-bd9e-324d-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>
            <name>Include Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
        <entry>
          <key>Quote Mode</key>
          <value>
            <name>Quote Mode</name>
          </value>
        </entry>
        <entry>
          <key>Record Separator</key>
          <value>
            <name>Record Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>
            <name>Include Trailing Delimiter</name>
          </value>
        </entry>
      </descriptors>
      <name>Enrich-CSVWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>131196c5-d246-3a06-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
        </entry>
        <entry>
          <key>schema-text</key>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Quote Character</key>
        </entry>
        <entry>
          <key>Escape Character</key>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
        </entry>
        <entry>
          <key>Quote Mode</key>
        </entry>
        <entry>
          <key>Record Separator</key>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>ac816b1f-c87c-3154-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>
            <name>Skip Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
      </descriptors>
      <name>Routing-CSVReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>131196c5-d246-3a06-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
        </entry>
        <entry>
          <key>schema-text</key>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
        </entry>
        <entry>
          <key>Quote Character</key>
        </entry>
        <entry>
          <key>Escape Character</key>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVReader</type>
    </controllerServices>
    <controllerServices>
      <id>b350ec22-0aaa-3268-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>
            <name>Include Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
        <entry>
          <key>Quote Mode</key>
          <value>
            <name>Quote Mode</name>
          </value>
        </entry>
        <entry>
          <key>Record Separator</key>
          <value>
            <name>Record Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>
            <name>Include Trailing Delimiter</name>
          </value>
        </entry>
      </descriptors>
      <name>CSVRecordSetWriter-Read-Schema-From-HWX-Embedded</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-content-encoded-schema</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>131196c5-d246-3a06-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>custom</value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>"</value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>\</value>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>true</value>
        </entry>
        <entry>
          <key>Quote Mode</key>
          <value>MINIMAL</value>
        </entry>
        <entry>
          <key>Record Separator</key>
          <value>\n</value>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>true</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>c223a0b7-f260-3d0d-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-scripting-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Script Engine</key>
          <value>
            <name>Script Engine</name>
          </value>
        </entry>
        <entry>
          <key>Script File</key>
          <value>
            <name>Script File</name>
          </value>
        </entry>
        <entry>
          <key>Script Body</key>
          <value>
            <name>Script Body</name>
          </value>
        </entry>
        <entry>
          <key>Module Directory</key>
          <value>
            <name>Module Directory</name>
          </value>
        </entry>
        <entry>
          <key>googleApiKey</key>
          <value>
            <name>googleApiKey</name>
          </value>
        </entry>
      </descriptors>
      <name>Enrich-ReverseGeoCodeLookupService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Script Engine</key>
          <value>Groovy</value>
        </entry>
        <entry>
          <key>Script File</key>
        </entry>
        <entry>
          <key>Script Body</key>
          <value>import org.apache.nifi.controller.ControllerServiceInitializationContext
import org.apache.nifi.reporting.InitializationException


class GroovyLookupService implements LookupService&lt;String&gt; {

   def apiKey
   def log
    
   @Override
    Optional&lt;String&gt; lookup(Map&lt;String,String&gt; coords) {
      def lat = coords['lat']
      def lng = coords['lng']
      def fmt_addr = (new groovy.json.JsonSlurper()).parseText(
         new URL("https://maps.googleapis.com/maps/api/geocode/json?latlng=$lat,$lng&amp;key=${apiKey}").text)
         .results[0]?.formatted_address
      Optional.ofNullable(fmt_addr?.toString())
    }

    @Override
    Class&lt;?&gt; getValueType() {
        return String
    }

    @Override
    Set&lt;String&gt; getRequiredKeys() {
      return ['lat','lng'] as Set&lt;String&gt;
    }

    void setLogger(logger) {
       log = logger
    }

    void onEnabled(context) {
        def googleApiKeyPropertyDescriptor = context.properties.find {k,v -&gt; k.name == 'googleApiKey'}?.key
        apiKey = context.getProperty(googleApiKeyPropertyDescriptor)?.evaluateAttributeExpressions()?.value
    }

    @Override
    void initialize(ControllerServiceInitializationContext context) throws InitializationException {

    }

    @Override
    Collection&lt;ValidationResult&gt; validate(ValidationContext context) {
        return null
    }

    @Override
    PropertyDescriptor getPropertyDescriptor(String name) {
        return null
    }

    @Override
    void onPropertyModified(PropertyDescriptor descriptor, String oldValue, String newValue) {

    }

    @Override
    List&lt;PropertyDescriptor&gt; getPropertyDescriptors() {
        return null
    }

    @Override
    String getIdentifier() {
        return null
    }
}

lookupService = new GroovyLookupService()</value>
        </entry>
        <entry>
          <key>Module Directory</key>
        </entry>
        <entry>
          <key>googleApiKey</key>
          <value>AIzaSyA-h19EtKZMbh33QXCWVdaK5gCFfbS-GAk</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.lookup.script.ScriptedLookupService</type>
    </controllerServices>
    <controllerServices>
      <id>cf233076-e1f4-346a-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>
            <name>Skip Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
      </descriptors>
      <name>Enrich-CSVReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>131196c5-d246-3a06-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
        </entry>
        <entry>
          <key>schema-text</key>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
        </entry>
        <entry>
          <key>Quote Character</key>
        </entry>
        <entry>
          <key>Escape Character</key>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVReader</type>
    </controllerServices>
    <controllerServices>
      <id>d9e03e2e-0a0e-37d0-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>
            <name>Include Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
        <entry>
          <key>Quote Mode</key>
          <value>
            <name>Quote Mode</name>
          </value>
        </entry>
        <entry>
          <key>Record Separator</key>
          <value>
            <name>Record Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>
            <name>Include Trailing Delimiter</name>
          </value>
        </entry>
      </descriptors>
      <name>Routing-CSVWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>131196c5-d246-3a06-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
        </entry>
        <entry>
          <key>schema-text</key>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Quote Character</key>
        </entry>
        <entry>
          <key>Escape Character</key>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
        </entry>
        <entry>
          <key>Quote Mode</key>
        </entry>
        <entry>
          <key>Record Separator</key>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>true</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>131196c5-d246-3a06-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-hwx-schema-registry-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>url</key>
          <value>
            <name>url</name>
          </value>
        </entry>
        <entry>
          <key>cache-size</key>
          <value>
            <name>cache-size</name>
          </value>
        </entry>
        <entry>
          <key>cache-expiration</key>
          <value>
            <name>cache-expiration</name>
          </value>
        </entry>
      </descriptors>
      <name>HWX Schema Registry</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>url</key>
          <value>http://hdf-3-0-1-maint2.field.hortonworks.com:7788/api/v1</value>
        </entry>
        <entry>
          <key>cache-size</key>
          <value>1000</value>
        </entry>
        <entry>
          <key>cache-expiration</key>
          <value>1 hour</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
    </controllerServices>
    <controllerServices>
      <id>2a6b7a3a-3922-3510-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
      </descriptors>
      <name>Avro Truck Events</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-content-encoded-schema</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>131196c5-d246-3a06-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.avro.AvroReader</type>
    </controllerServices>
    <controllerServices>
      <id>4e7ff34b-0763-3f2b-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
      </descriptors>
      <name>AvroRecordSetWriter-Read-Schema-From-HWX-Via-Schema-Name</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>hwx-content-encoded-schema</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>131196c5-d246-3a06-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>509ad867-6b1c-3aea-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>
            <name>Skip Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
      </descriptors>
      <name>CSV Truck Events</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>131196c5-d246-3a06-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>custom</value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>"</value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>\</value>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>true</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVReader</type>
    </controllerServices>
    <labels>
      <id>1a991efe-ceb9-309d-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <height>266.6058044433594</height>
      <label>1. Nifi ingest HWX Registry serialized Avro events. 
The HWX registry will put the schema identifier in beginning
bytes of each payload

2. Nifi extracts the schema key and fetches schema from the 
HWX Schema Registry and then converts from AVro to CSV. 

3. These CSV records are then enriched and converted into Avro Records 
and pushed into a Kafka Topic. 
 
When publishing to Kafka Topic, Nifi will look up the schema associated
with the kafka topic and then use it to serialize into Avro before
publishing into Kafka
</label>
      <style>
        <entry>
          <key>font-size</key>
          <value>20px</value>
        </entry>
      </style>
      <width>704.3400268554688</width>
    </labels>
    <processGroups>
      <id>249a32e2-1be8-3eb0-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>115.07784223665635</x>
        <y>347.1381960471426</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>85aeef1c-5390-3c32-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1464.6878662109375</x>
            <y>870.4926147460938</y>
          </bends>
          <destination>
            <groupId>249a32e2-1be8-3eb0-0000-000000000000</groupId>
            <id>a8327575-b860-3c76-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>249a32e2-1be8-3eb0-0000-000000000000</groupId>
            <id>35618b44-2210-3256-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b5b0f3d0-c3c3-3c33-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>249a32e2-1be8-3eb0-0000-000000000000</groupId>
            <id>a8327575-b860-3c76-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>249a32e2-1be8-3eb0-0000-000000000000</groupId>
            <id>fd42ee57-b73f-3bf2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0a405a82-3b97-3c82-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>249a32e2-1be8-3eb0-0000-000000000000</groupId>
            <id>6a8ff9da-2f5c-38e6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>bf2682d6-69a0-3faf-0000-000000000000</groupId>
            <id>b4d21625-703c-33e3-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0fb737a8-4a4d-339b-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>249a32e2-1be8-3eb0-0000-000000000000</groupId>
            <id>fd42ee57-b73f-3bf2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>249a32e2-1be8-3eb0-0000-000000000000</groupId>
            <id>6a8ff9da-2f5c-38e6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>325ef785-8572-37d6-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>249a32e2-1be8-3eb0-0000-000000000000</groupId>
            <id>35618b44-2210-3256-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>bf2682d6-69a0-3faf-0000-000000000000</groupId>
            <id>a33f399a-4fb0-3263-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <labels>
          <id>99645064-1123-3e46-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <position>
            <x>424.71635170932785</x>
            <y>794.9564612762381</y>
          </position>
          <height>44.64159393310547</height>
          <label>Enrich the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>196.63572692871094</width>
        </labels>
        <labels>
          <id>a80ebaed-9ed1-309c-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <position>
            <x>713.4010606937682</x>
            <y>297.1606073398341</y>
          </position>
          <height>57.396385192871094</height>
          <label>Go Get the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>221.0823516845703</width>
        </labels>
        <labels>
          <id>c1dd29c1-e0d5-3dd8-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <position>
            <x>742.4869915509632</x>
            <y>1146.3572609855723</y>
          </position>
          <height>128.3921356201172</height>
          <label>Serialize CSV into Avro by fetching  Schema 
associated with kafka topic from the HWX Schema REgistry.
</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>673.6242065429688</width>
        </labels>
        <processGroups>
          <id>bf2682d6-69a0-3faf-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <position>
            <x>951.6170873274109</x>
            <y>272.8449712767856</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>8bdf62d9-a4d3-3ecc-0000-000000000000</id>
              <parentGroupId>bf2682d6-69a0-3faf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>bf2682d6-69a0-3faf-0000-000000000000</groupId>
                <id>a33f399a-4fb0-3263-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>truck_speed_event</selectedRelationships>
              <source>
                <groupId>bf2682d6-69a0-3faf-0000-000000000000</groupId>
                <id>f152915e-4c75-3b26-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>55b6a6b8-020d-3f64-0000-000000000000</id>
              <parentGroupId>bf2682d6-69a0-3faf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>bf2682d6-69a0-3faf-0000-000000000000</groupId>
                <id>f152915e-4c75-3b26-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>bf2682d6-69a0-3faf-0000-000000000000</groupId>
                <id>4c0a5fef-7c65-34c2-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>7a3f8902-f307-32d3-0000-000000000000</id>
              <parentGroupId>bf2682d6-69a0-3faf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>bf2682d6-69a0-3faf-0000-000000000000</groupId>
                <id>b4d21625-703c-33e3-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>truck_geo_event</selectedRelationships>
              <source>
                <groupId>bf2682d6-69a0-3faf-0000-000000000000</groupId>
                <id>f152915e-4c75-3b26-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <labels>
              <id>180de45e-9527-32d6-0000-000000000000</id>
              <parentGroupId>bf2682d6-69a0-3faf-0000-000000000000</parentGroupId>
              <position>
                <x>380.28120884285</x>
                <y>108.5592970352966</y>
              </position>
              <height>214.21615600585938</height>
              <label>Upstream app is sending avro objects serialized 
via HWX Schema REgistry into kafka topics

Use ConsumeKafkaRecord to read Avro and convert to CSV by 
doing the following:
1. Get schemaId from beginning bytes of serialized AVro object
2. Use the schemaId to lookup the schema
3. Convert Avro object to CSV Records using the schema
4. Route events by event source (speed or geo) using SQL
</label>
              <style>
                <entry>
                  <key>font-size</key>
                  <value>22px</value>
                </entry>
              </style>
              <width>647.0797119140625</width>
            </labels>
            <labels>
              <id>4e2f8a72-94f3-3620-0000-000000000000</id>
              <parentGroupId>bf2682d6-69a0-3faf-0000-000000000000</parentGroupId>
              <position>
                <x>863.08687290535</x>
                <y>622.1250318985778</y>
              </position>
              <height>46.433006286621094</height>
              <label>Route using SQL Based Processing</label>
              <style>
                <entry>
                  <key>font-size</key>
                  <value>22px</value>
                </entry>
              </style>
              <width>373.6318359375</width>
            </labels>
            <outputPorts>
              <id>a33f399a-4fb0-3263-0000-000000000000</id>
              <parentGroupId>bf2682d6-69a0-3faf-0000-000000000000</parentGroupId>
              <position>
                <x>805.0629656682158</x>
                <y>899.0211189947438</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Speed Events</name>
              <state>RUNNING</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>b4d21625-703c-33e3-0000-000000000000</id>
              <parentGroupId>bf2682d6-69a0-3faf-0000-000000000000</parentGroupId>
              <position>
                <x>293.58835629321584</x>
                <y>891.8865975103688</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Geo Events</name>
              <state>RUNNING</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>f152915e-4c75-3b26-0000-000000000000</id>
              <parentGroupId>bf2682d6-69a0-3faf-0000-000000000000</parentGroupId>
              <position>
                <x>468.0038717554927</x>
                <y>593.4203950037886</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.1.1-5</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>record-reader</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                      <name>record-reader</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                      <name>record-writer</name>
                    </value>
                  </entry>
                  <entry>
                    <key>include-zero-record-flowfiles</key>
                    <value>
                      <name>include-zero-record-flowfiles</name>
                    </value>
                  </entry>
                  <entry>
                    <key>cache-schema</key>
                    <value>
                      <name>cache-schema</name>
                    </value>
                  </entry>
                  <entry>
                    <key>truck_geo_event</key>
                    <value>
                      <name>truck_geo_event</name>
                    </value>
                  </entry>
                  <entry>
                    <key>truck_speed_event</key>
                    <value>
                      <name>truck_speed_event</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>record-reader</key>
                    <value>ac816b1f-c87c-3154-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>d9e03e2e-0a0e-37d0-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>include-zero-record-flowfiles</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>cache-schema</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>truck_geo_event</key>
                    <value>SELECT * FROM FLOWFILE where eventSource = 'truck_geo_event'</value>
                  </entry>
                  <entry>
                    <key>truck_speed_event</key>
                    <value>SELECT * FROM FLOWFILE where eventSource = 'truck_speed_event'</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Route Telemetry Events</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>truck_geo_event</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>truck_speed_event</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.QueryRecord</type>
            </processors>
            <processors>
              <id>4c0a5fef-7c65-34c2-0000-000000000000</id>
              <parentGroupId>bf2682d6-69a0-3faf-0000-000000000000</parentGroupId>
              <position>
                <x>461.1852190647278</x>
                <y>372.15012425882196</y>
              </position>
              <bundle>
                <artifact>nifi-kafka-0-10-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.1.1-5</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>bootstrap.servers</key>
                    <value>
                      <name>bootstrap.servers</name>
                    </value>
                  </entry>
                  <entry>
                    <key>topic</key>
                    <value>
                      <name>topic</name>
                    </value>
                  </entry>
                  <entry>
                    <key>topic_type</key>
                    <value>
                      <name>topic_type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-reader</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                      <name>record-reader</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                      <name>record-writer</name>
                    </value>
                  </entry>
                  <entry>
                    <key>security.protocol</key>
                    <value>
                      <name>security.protocol</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.service.name</key>
                    <value>
                      <name>sasl.kerberos.service.name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.principal</key>
                    <value>
                      <name>sasl.kerberos.principal</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.keytab</key>
                    <value>
                      <name>sasl.kerberos.keytab</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ssl.context.service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>ssl.context.service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>group.id</key>
                    <value>
                      <name>group.id</name>
                    </value>
                  </entry>
                  <entry>
                    <key>auto.offset.reset</key>
                    <value>
                      <name>auto.offset.reset</name>
                    </value>
                  </entry>
                  <entry>
                    <key>max.poll.records</key>
                    <value>
                      <name>max.poll.records</name>
                    </value>
                  </entry>
                  <entry>
                    <key>max-uncommit-offset-wait</key>
                    <value>
                      <name>max-uncommit-offset-wait</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>bootstrap.servers</key>
                    <value>hdf-3-0-1-maint6.field.hortonworks.com:6667</value>
                  </entry>
                  <entry>
                    <key>topic</key>
                    <value>raw-all_truck_events_avro</value>
                  </entry>
                  <entry>
                    <key>topic_type</key>
                    <value>names</value>
                  </entry>
                  <entry>
                    <key>record-reader</key>
                    <value>2a6b7a3a-3922-3510-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>b350ec22-0aaa-3268-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>security.protocol</key>
                    <value>PLAINTEXT</value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.service.name</key>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.principal</key>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.keytab</key>
                  </entry>
                  <entry>
                    <key>ssl.context.service</key>
                  </entry>
                  <entry>
                    <key>group.id</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>auto.offset.reset</key>
                    <value>latest</value>
                  </entry>
                  <entry>
                    <key>max.poll.records</key>
                    <value>10000</value>
                  </entry>
                  <entry>
                    <key>max-uncommit-offset-wait</key>
                    <value>1 secs</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Truck Event Streams</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>parse.failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_0_10</type>
            </processors>
          </contents>
          <name>Acquire Events</name>
        </processGroups>
        <processors>
          <id>a8327575-b860-3c76-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <position>
            <x>947.3413272193038</x>
            <y>989.3658111325781</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.1.1-5</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>message-key-field</key>
                <value>
                  <name>message-key-field</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>hdf-3-0-1-maint6.field.hortonworks.com:6667</value>
              </entry>
              <entry>
                <key>topic</key>
                <value>${kafka.topic}</value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>509ad867-6b1c-3aea-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>4e7ff34b-0763-3f2b-0000-000000000000</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>message-key-field</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Publish Events to Truck Stream Topics</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_0_10</type>
        </processors>
        <processors>
          <id>fd42ee57-b73f-3bf2-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <position>
            <x>639.2836500026511</x>
            <y>747.9535972551678</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.1.1-5</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
              <entry>
                <key>lookup-service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.lookup.LookupService</identifiesControllerService>
                  <name>lookup-service</name>
                </value>
              </entry>
              <entry>
                <key>result-record-path</key>
                <value>
                  <name>result-record-path</name>
                </value>
              </entry>
              <entry>
                <key>routing-strategy</key>
                <value>
                  <name>routing-strategy</name>
                </value>
              </entry>
              <entry>
                <key>lat</key>
                <value>
                  <name>lat</name>
                </value>
              </entry>
              <entry>
                <key>lng</key>
                <value>
                  <name>lng</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>record-reader</key>
                <value>cf233076-e1f4-346a-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>99061f9d-bd9e-324d-0000-000000000000</value>
              </entry>
              <entry>
                <key>lookup-service</key>
                <value>c223a0b7-f260-3d0d-0000-000000000000</value>
              </entry>
              <entry>
                <key>result-record-path</key>
                <value>/geoAddress</value>
              </entry>
              <entry>
                <key>routing-strategy</key>
                <value>route-to-success</value>
              </entry>
              <entry>
                <key>lat</key>
                <value>/latitude</value>
              </entry>
              <entry>
                <key>lng</key>
                <value>/longitude</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReverseGeoLookup</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.LookupRecord</type>
        </processors>
        <processors>
          <id>35618b44-2210-3256-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <position>
            <x>1306.5787740461533</x>
            <y>540.9518252866341</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.1.1-5</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>
                  <name>schema.name</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_speed_events_avro</value>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>truck_speed_events_avro</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>6a8ff9da-2f5c-38e6-0000-000000000000</id>
          <parentGroupId>249a32e2-1be8-3eb0-0000-000000000000</parentGroupId>
          <position>
            <x>642.7752763630203</x>
            <y>537.3976624518189</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.1.1-5</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>
                  <name>schema.name</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_events_avro</value>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>truck_events_avro</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
      </contents>
      <name>Use Case 1</name>
    </processGroups>
  </snippet>
  <timestamp>01/18/2018 16:50:50 UTC</timestamp>
</template>